:root {
    .darktheme {
        // backgrounds
        --clr-background-high: #000;
        --clr-background-primary-high: #9f0013;
        --clr-background-primary-medium: #31afea;
    
        // text-colors
        --clr-text-low: #ffffffbf;
        --clr-text-inverse-high: #ffffff;
    
        // border-colors
        --clr-border-high: #9f0013;
        --clr-border-light: #ffffff;
        --clr-border-medium: #e5e5e5;
    }
}