$font-famile: Ek Mukta, sans-serif;

@mixin use-font-family {
    font-family: $font-famile;
}

@mixin title-xs {
    @include use-font-family;
    font-size: .5rem;
}

@mixin title-sm {
    @include use-font-family;
    font-size: .7rem;
}

@mixin title-md {
    @include use-font-family;
    font-size: .9rem;
}

@mixin title-lg {
    @include use-font-family;
    font-size: 1rem;
}

@mixin title-xl {
    @include use-font-family;
    font-size: 1.3rem;
}

@mixin title-2xl {
    @include use-font-family;
    font-size: 2rem;
}

@mixin body-xs {
    @include use-font-family;
    font-size: 0.8rem;
}

@mixin body-sm {
    @include use-font-family;
    font-size: 1rem;
}

@mixin body-md {
    @include use-font-family;
    font-size: 1.2rem;
}

@mixin body-lg {
    @include use-font-family;
    font-size: 1.4rem;
}
