$font-famile: Ek Mukta, sans-serif;

@mixin use-font-family {
    font-family: $font-famile;
}

@mixin title-xs {
    @include use-font-family;
    font-size: 1.1rem;
    line-height: 1.2;
}

@mixin title-sm {
    @include use-font-family;
    font-size: 1.3rem;
    line-height: 1.2;

}

@mixin title-md {
    @include use-font-family;
    font-size: 1.8rem;
    line-height: 1.2;
}

@mixin title-lg {
    @include use-font-family;
    font-size: 2.4rem;
    line-height: 1.2;
}

@mixin title-xl {
    @include use-font-family;
    font-size: 3.6rem;
    line-height: 1.2;
}

@mixin body-xs {
    @include use-font-family;
    font-size: 0.8rem;
    line-height: 1.2;
}

@mixin body-sm {
    @include use-font-family;
    font-size: 1rem;
    line-height: 1.2;
}

@mixin body-md {
    @include use-font-family;
    font-size: 1.2rem;
    line-height: 1.2;
}

@mixin body-lg {
    @include use-font-family;
    font-size: 1.4rem;
    line-height: 1.2;
}
